:root {
  /* === Palette Definitions === */
  --olivine: #9dc183;
  --tawny: #cc5500;
  --hunter-green: #3f6c51;
  --black: #0a0908;
  --white: #ffffff;

  /* === Main colors === */

  /* Primary color */
  --primary-color: var(--tawny);
  --primary-color-hover: #af4900;
  --primary-color-active: #a34300;
  --primary-color-light: #ff8c40;

  /* Secondary color */
  --secondary-color: var(--hunter-green);
  --secondary-color-hover: #355e45;
  --secondary-color-active: #2b4f3a;
  --secondary-color-light: var(--olivine);

  /* Background */
  --bg-page: #f8f9fa;
  --bg-content: var(--white);
  --bg-content-subtle: #fbfdfa;

  /* Text */
  --text-main: var(--black);
  --text-secondary: var(--hunter-green);
  --text-muted: var(--olivine);
  --text-on-primary: var(--white);
  --text-on-secondary: var(--white);
  --text-link: var(--primary-color);
  --text-link-hover: var(--primary-color-hover);

  /* Borders and Separators */
  --border-color: var(--olivine);
  --border-color-subtle: #eef3ea;

  /* === Info colors === */

  /* Success (Greens) */
  --success-color: var(--hunter-green);
  --success-color-hover: #355e45;
  --success-bg-light: #eef3ea;
  --text-on-success: var(--white);

  /* Danger */
  --danger-color: var(--tawny);
  --danger-color-hover: #b84c00;
  --danger-bg-light: #ffe8d6;
  --text-on-danger: var(--black);

  /* Warning */
  --warning-color: var(--tawny);
  --warning-color-hover: #b84c00;
  --warning-bg-light: #fff2e0;
  --text-on-warning: var(--black);

  /* Info */
  --info-color: var(--hunter-green);
  --info-color-hover: #355e45;
  --info-bg-light: var(--olivine);
  --text-on-info: var(--black);

  /* === Other === */
  --border-radius-small: 4px;
  --border-radius-medium: 8px;
  --border-radius-large: 12px;

  --shadow-small: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --shadow-medium: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-large: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
