.footer {
  background-color: var(--secondary-color-active);
  color: var(--text-on-secondary);
  padding: 5px 0;
  text-align: center;
  margin-top: auto;
  font-size: 0.9em;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}
