.inputGroup {
  margin-bottom: 15px;
  width: 100%;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input {
  width: 100%;
  padding: 10px;
  background-color: var(--bg-content-subtle);
  color: var(--text-main);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.input:focus {
  border-color: var(--primary-color);
  outline: none;
  box-shadow: 0 0 0 0.2rem var(--primary-color);
}

.errorInput {
  border-color: #dc3545;
}

.errorInput:focus {
  border-color: var(--danger-color);
  box-shadow: 0 0 0 0.2rem var(--danger-color);
}

.errorMessage {
  color: var(--danger-color);
  font-size: 0.875em;
  margin-top: 4px;
  margin-bottom: -10px;
}
