.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContent {
  flex-grow: 1;
  background-color: var(--bg-page, #f4f4f4);
}
.mainContentPaddingHome {
  padding-top: 0px;
}
.mainContentOtherPages {
  padding: calc(min(200px, 10%));
  padding-top: calc(5em + 50px);
}

.container {
  width: 100%;
  margin: 0;
  background-color: var(--bg-content, #ffffff);
  min-height: 100%;
  padding: 0px;
}
.containerPaddingHome {
  padding: 0px;
}
.containerOtherPages {
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
